.backgroundImg {
    background: url(../Image/cover.jpg);
    background-size: cover;
    height: 80vh;
    background-position: center;
    overflow: hidden;

}

.textSection {
    display: flex;
    justify-content: center;
    height: 580px;
    color: white;
}

.text {
    margin-top: 220px;
}